<h1>Flexible Payment</h1>

<p> A <%= @user_years %> year loan of <%= number_to_currency(@user_principal, precision:0) %>, 
    with an annual interest rate of <%= number_to_percentage(@user_interest_rate/100.00, precision:2) %>, 
    requires a monthly payment of <%= number_to_currency(@monthly_payment, precision:2) %>. <p>