<h1>Payment Calculation</h1>

<form action="/payment/results">
    <div>
        <label for="number_input">
            APR
        </label>
    
        <input id="number_input" type="text" name="the_user_apr" placeholder="e.g. 5.42">
    </div>
    
    <div>
        <label for="number_input">
            Number of years
        </label>
    
        <input id="number_input" type="text" name="the_user_years" placeholder="# of years to repay">
    </div>
    
    <div>
        <label for="number_input">
            Principal
        </label>
    
        <input id="number_input" type="text" name="the_user_principal" placeholder="Principal amount">
    </div>
    
    <button>Calculate monthly payment</button>
</form>