<h1>Payment Results</h1>

<h6> APR </h6>

<p> <%=number_to_percentage(@user_interest_rate, precision:4)%> </p>

<h6> Number of years </h6>

<p> <%= @user_years %> </p>

<h6> Principal </h6>

<p> <%= number_to_currency(@user_principal, precision:0) %> </p>

<h6> Payment </h6>

<p> <%= number_to_currency(@monthly_payment, precision:2) %> </p>

<a href="/payment/new" >
    Calculate another payment
</a>