<h1>Random Calculation</h1>

<form action="/random/results">
    <div>
        <label for="minimum_input">
            Minimum
        </label>
    
        <input id="minimum_input" type="text" name="user_minimum" placeholder="e.g. 1.5">
    </div>
    
    <div>
        <label for="maximum_input">
            Maximum
        </label>
    
        <input id="maximum_input" type="text" name="user_maximum" placeholder="e.g. 8.5">
    </div>
    
    <button>Pick random number</button>
</form>