<h1>Random Results</h1>

<h6> Minimum </h6>

<p> <%= @user_low_end %> </p>

<h6> Maximum </h6>

<p> <%= @user_high_end %> </p>

<h6> Random number </h6>

<p> <%=@random_number %> </p>

<a href="/random/new" >
    Pick another random number
</a>