<h1>Square Root Calculation</h1>

<form action="/square_root/results">
    <div>
        <label for="number_input">
            Enter a number
        </label>
    
        <input id="number_input" type="text" name="the_user_number" placeholder="Enter a number">
    </div>
    
    <button>Calculate square root</button>
</form>